body {
    background: #352f5b;
}

.todos li {
    background: #423a6f;
}

.delete, 
.done,
.undo {
    cursor: pointer;
}

/* Filtered */
.filtered {
    display: none !important;
}

.completed li{
    text-decoration: line-through;
    background: gray !important;
}